
// .user-profile {
//   height: 50vh;
//   position: sticky;
//   top: 116px;
//   padding : 16px;
//   display: block;
//   text-align: center;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   margin-bottom: 31px;
//   width: 50%
// }
.left-dashboard {
  height: 56vh;
  position: sticky;
  top: 116px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  display: block;
  width: 40%;
  text-align: center;
  margin-right: 16px;
}
.right-dashboard {
  padding: 0px 10px 10px 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  scroll-behavior: smooth;
}

.dashboard-container h2 {
  margin-bottom: 0.5rem;
  font-family: "Poppins";
  font-weight: 501;
  line-height: 1.2;
  font-size: 32px;
  padding: 8px 0px;
}

h3 {
  margin-bottom: 1px;
  font-family: "Poppins";
  font-weight: 501;
  line-height: 1.2;
  font-size: 16px;
}

li {
  font-size: 12px;
  font-weight: lighter;
  list-style-type: none;
  text-decoration: none;
}


li:first-child{
  font-size: 16px;
  list-style-type: none !important;
  margin: 0px !important;
  font-weight: bold;
 }

#sessions-list-next {
  border-bottom: 1px solid rgba(79, 180, 119, 0.2);
  margin-bottom: 8px;
  width: 100%;
  display: inline-block;
  background-color: rgba(79, 180, 119, 0.1);
  border-radius: 4px 4px 0px 0px;
  padding: 4px 8px;
  color: black;
}
#sessions-list-next:hover {
  background-color: rgba(79, 180, 119, 0.5);
  color: black;
}

#sessions-list-past {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  width: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 4px 4px 0px 0px;
  padding: 4px 8px;
  color: black;
}

#sessions-list-past:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
}

#sessions-list-owned {
  border-bottom: 1px solid rgba(109, 152, 186, 0.2);
  margin-bottom: 8px;
  width: 100%;
  display: inline-block;
  background-color: rgba(109, 152, 186, 0.1);
  border-radius: 4px 4px 0px 0px;
  padding: 4px 8px;
  color: black;
 }
#sessions-list-owned:hover {
  background-color: rgba(109, 152, 186, 0.25);
  color: black;
}

.card-session {
  // overflow: hidden;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 16px;
  display: block;
  padding: 8px 8px 1px 8px;
  box-shadow:none;
  text-decoration:none;
}

.sessions-navigation {
  margin-top: 40px;
  text-align: center;
}

a.nav-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 8px;
  width: 70%;
  display: inline-block;
  text-decoration: none;
  color: black ;
  border-radius: 4px 4px 0px 0px;
  background-color: rgba(0, 0, 0, 0.05) ;
}
a.nav-link:hover {
  text-decoration: none;
  border-radius: 4px 4px 0px 0px;
  background-color: $green;
  color: white;
  opacity: 0.8;
  }

#sessions-owned-link:before,
  #next-sessions-link:before,
  #past-sessions-link:before {
    height: 100px;
    content: "";
    display:block;
}
