<h5><%= sport_session.title %></h5>
<p><%= sport_session.activity.name %></p>
<p><%= sport_session.start_time %></p>
<%= link_to sport_session_path(sport_session) do %>
  <button type="submit" href="#" class="btn btn-gom">Join</button>
<% end %>
