<div id="map"
  data-query="<%= params[:query].to_json %>"
  data-markers="<%= @markers.to_json %>"
  data-mapmarker="<%= @mapmarker %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  style="height: calc(100% - 122px); width: 100%;position: relative;">
</div>
