<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1520443240718-fce21901db79);">
  <div class="container">
    <h1>Ready for your next session?</h1>
    <p>Choose a region, a sport, and let's ride</p>

    <div class="search">
      <%= form_tag activities_path, method: :get, novalidate: "novalidate", class: "simple_form search"  do %><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group mb-0 banner-search">
          <%= text_field_tag :query,
              params[:query],
              style: "text-align: right",
              class: "search-input form-control string required banner-typed-text",
              id: "search_query",
              value: ""
          %>
          <%= button_tag(type: "submit", class: "btn btn-gom") do %>
            <i class="fas fa-search"></i> Search
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
