
<div class="video-background">
  <div class="video-foreground">
    <iframe src="https://www.youtube.com/embed/TOuF7ZbcCUs?controls=0&autoplay=1&loop=1&rel=0&showinfo=0&start=4&mute=1&playlist=TOuF7ZbcCUs" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; loop" frameborder="0" allowfullscreen></iframe>
  </div>
</div>



<div class="video-banner content">
  <div class="container">
    <h1>G<span>O</span>M</h1>
    <h2>Ready for your next session?</h2>
    <p>Choose a region, a sport, and let's ride</p>

    <div class="search">
      <%= form_tag sport_sessions_path, method: :get, novalidate: "novalidate", class: "simple_form search"  do %><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group mb-0 video-banner-search">
          <%= text_field_tag :query,
              params[:query],
              style: "text-align: left",
              class: "search-input form-control string required banner-typed-text search_query",
              value: ""
          %>
          <%= button_tag(type: "submit", class: "btn btn-gom") do %>
            <i class="fas fa-search"></i> Search
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
