<div class="container mt-5">
  <div class="user-profile">
    <h2><%=  current_user.username %></h2>
    <%= image_tag "https://www.outsideonline.com/sites/default/files/styles/img_600x600/public/migrated-images_parent/migrated-images_68/kelly-slater-in-france_s.jpg", crop: :fill, class: "avatar-large" %>

  </div>

  <div class="next-sessions">
    <h3>Next sessions</h3>
    <% current_sessions = current_user.sport_session_id %>
    <% current_sessions.each do |session| %>
    <%= session %>
    <% end %>
  </div>

  <div class="past-sessions">
    <h3>Past sessions</h3>
  </div>
</div>
