.flatpickr-months {
  background: $green;
}

.flatpickr-months .flatpickr-month {
  color: white;
}

.flatpickr-weekdays,
.flatpickr-day.selected {
  background-color: $green;
}

.flatpickr-day.selected {
  border-color: $green;
  opacity: 0.9;
}

.flatpickr-day.selected:hover {
  background-color: $green;
  border-color: $green;
  opacity: 1;
}

span.flatpickr-weekday {
  color: white;
  opacity: 0.9;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  fill: white;
  opacity: 0.7;
}

.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
  opacity: 1;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: white;
}

// !! Calendar for Dashboard

.container-dashboard-calendar {
  margin-top: 20px;
}

.container-dashboard-calendar .flatpickr-calendar {
  border-radius: 4px;
  top: 0px;
}

.container-dashboard-calendar .flatpickr-months {
  border-radius: 4px 4px 0px 0px;
}

.container-dashboard-calendar .flatpickr-calendar .flatpickr-day.flatpickr-disabled {
  cursor: not-allowed;
  color: rgba(0,0,0,0.8);
  background-color: white;
  &:hover {
    color: rgba(0,0,0,0.3);
    background-color: white;
  }
}

.container-dashboard-calendar p {
  color: rgba(0,0,0,0.8);
  border-top: 2px solid rgba(0,0,0,0.2);
  margin-bottom: 10px;
  padding-top: 10px;
}

.container-dashboard-calendar .flatpickr-calendar .flatpickr-day {
  color: white;
  background-color: rgba(79,180,119, 0.7);
  border:none;
  cursor: default;
  &:hover {
    background-color: $green;
    background: brightness(1.5);
  }
}

.container-dashboard-calendar .dayContainer {
  margin-top: 5px;
}
