.card-session {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.card-session img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-session h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color:$blue;
}

.card-session p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color:$blue;
}

.card-session .card-session-infos {
  padding: 16px;
}

.small-card-session {
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

.small-card-session-top {
  height: 10em;
  color: white;
  text-align: center;
  padding-top: 12px;
}

.small-card-session-bottom {
  padding: 16px 16px 0px 16px;
}

.small-card-session-link:hover {
  text-decoration: none;
}

.card-activity {
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
  height: 300px;
}

.card-activity-left {
  width: 400px;
  h2 {
    padding-top: 16px;
    color:white;
    opacity: 0.9;
  }
}
