.blur-chatroom {
  filter: blur(0.25rem);
  pointer-events: none;
}

#messages {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 40vh;
  padding-right: 10px;
}

.message-container {
  opacity: 0.8;
}

.message-author {
 text-align: end;
}

.chatroom-container h2 {
  padding: 0px;
  text-align: right !important;
}

#messages::-webkit-scrollbar {
  width: 3px;
}

#messages::-webkit-scrollbar-thumb {
  background: #4a4a4a;
}

.new-message {
  opacity: 1;
}
