.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter {
  margin-right: 10px;
}

.filter-btn {
  opacity: 0.5;
  padding: 0px 8px;
  border: 1px solid black;
  vertical-align: top;
}

.filter-btn:hover {
  opacity: 1;
}

.filter-selected {
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
  padding: 0px 8px;
}

.filter-selected i {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.container-filters {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.container-filters .filters {
  flex-grow: 1;
}

.container-filters .clear-filters {
  color: black;
  opacity: 0.5;
}

