.form-container {
  background-color: white;
  border-radius: 5px;
}

.activity-choices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.activity-choice {
  flex: 0 0 30%;
  margin: 5px 0px;
  text-align: center;
  background-color: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: 0.3;
  font-weight: bold;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    background-color: $green;
    color: white;
    opacity: 1;
  }
}


.level-choices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
  width: 100%;
  height: 100%;
}

.level-choice {
  flex-grow: 1;
  flex: 0 0 30%;
  opacity: 0.3;
  text-align: center;
  background-color: grey;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  &:hover {
    opacity: 1;
    color: black;
  }
  &.hover {
    opacity: 1;
  }
  &.active {
    background-color: $green;
    opacity: 1;
  }
}

.level-input[type=radio]:checked + label {
  color: white;
}

.level-choice[data-level='1'] {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px
}

.level-choice[data-level='3'] {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px
}


.capacity-choices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.capacity-choice {
  flex: 0 0 10%;
  opacity: 0.3;
  text-align: center;
  i {
    font-size: 30px;
  }
  &:hover {
    opacity: 1;
  }
  &.hover {
    opacity: 1;
  }
  &.active {
    color: $green;
    opacity: 1;
  }
}


.form-container .algolia-places {
  width: 100%;
  margin-bottom: 1rem;
}

.form-container .btn-submit {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
}
