.mapboxgl-popup {
  transform: none!important;
  width: 40%;
  height: 100%!important;
  max-width: none!important;
}

.mapbox-popup-flexbox {
  display: flex;
  align-items: center;
  height: 100%!important;
  animation-duration: .3s;
 }

.mapboxgl-popup-tip {
  display: none;
}

.mapbox-popup-arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid $green;
}

.mapboxgl-popup-content {
  background-color: transparent;
  padding: 0px;
  height: 100%!important;
  box-shadow: none;
}

.mapboxgl-popup-close-button {
  display:none;
}

.mapbox-popup-info {
  // background-color: white;
  height: 100%;
  width: 100%;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 16px;
  background-size: cover;
  background-position: center;
  p {
    margin-bottom: 5px;
    text-align: left;
  }
  button {
    width: 100%;
    margin-top: 2px;
  }
  .info-window-icon {
    width: 45px;
  }
}

.mapbox-popup-info-header {
  padding-bottom: 15px;
  margin-bottom: 15px;
  height: 60%;
  h3 {
    margin-bottom: 0px;
    color: white;
  }
  p {
    color: white;
  }
  img {
  height: 100%;
  width: auto;
  object-fit: cover;
  }
}


.mapbox-popup-bottom {
  padding: 15px;
}

.info-window-location {
  padding: 15px;
  p {
    text-align: center!important;
  }
}

.info-window-levels {
  margin-bottom: 15px;
}
.info-window-level{
  width: 15%;
  height: 5px;
  border: 1px solid white;
  display: inline-block;
}

.info-window-level.first{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.info-window-level.last{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.info-window-level.full{
  background-color: white;
}

.btn-map {
  width: 97%;
  height: 45px;
  position: fixed;
  left: 0;
  bottom:0;
}
a.mapboxgl-ctrl-logo {
  display: none !important;
}
