.navbar {
  background: white;
  display: block;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .search input {
  width: 100%;
  display: inline;
  vertical-align: middle !important;
}

.navbar .navbar-login a {
  width: 82px;
}

.navbar img {
  cursor: pointer;
}

.algolia-places {
  width: 50%;
}

.notifs {
  cursor: pointer;
  margin-right: 24px;
  margin-top: 6px;
}

.notifs-container {
  min-width: 300px!important;
}

#notification-count {
  position: absolute;
  left: -16px;
  top: -6px;
  background-color: red;
  border-radius: 4px;
  color: white;
  padding: 1px 6px;
  font-size: small;
  font-weight: 600;
}

.dropdown-toggle::after {
  display: none;
}

.fa-2x {
  color: rgba(0,0,0,0.7);
  &:hover {
  color: rgba(0,0,0,0.9);
  }
}

.navbar img {
  opacity: 0.8;
  &:hover {
    opacity:1;
  }
}
