.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .search input {
  width: 100%;
  display: inline;
  vertical-align: middle !important;
}

.navbar .navbar-login a {
  width: 82px;
}

.navbar img {
  cursor: pointer;
}

.algolia-places {
  width: 50%;
}
